.projects-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

@media (max-width: 767px) {
  .projects-detail {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
}

.project-item {
  position: relative;
  border-radius: 1.6rem;
  border: 2px solid #000;
  overflow: hidden;
}

.project-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-item-detail {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.project-item:hover .project-item-detail,
.project-item:focus .project-item-detail {
  opacity: 1;
  visibility: visible;
}

.project-title {
  font-size: 3.2rem;
}

.project-btn-group {
  margin-top: 1.6rem;
}

.project-btn {
  display: inline-block;
  color: #fff;
  background-color: #0048ff;
  padding: 1rem 4rem;
  border-radius: 1.6rem;
  border: 2px solid transparent;
}

.project-btn:last-child {
  background-color: transparent;
  border-color: #fff;
}

.project-btn:hover,
.project-btn:focus {
  background-color: #1054ff;
  border-color: #1054ff;
}

.project-btn:not(:last-child) {
  margin-right: 2rem;
}
