#home {
  padding: 8rem 0 0;
  text-align: center;
}

@media (max-width: 767px) {
  #home {
    padding: 4rem 0 0;
  }
}

.hero-title {
  font-size: 10.7rem;
}

@media (max-width: 1199px) {
  .hero-title {
    font-size: 9.4rem;
  }
}

@media (max-width: 1024px) {
  .hero-title {
    font-size: 8.2rem;
  }
}

@media (max-width: 991px) {
  .hero-title {
    font-size: 7.1rem;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 5.2rem;
  }
}

@media (max-width: 575px) {
  .hero-title {
    font-size: 3.7rem;
  }
}

.hero-title span {
  color: #616161;
}
