#skills .section-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  #skills .section-body {
    row-gap: 4rem;
  }
}

#skills .section-body > div {
  flex: 1;
  text-align: center;
}

@media (max-width: 767px) {
  #skills .section-body > div {
    flex: 33.333333%;
  }
}

#skills .section-body img {
  height: 8rem;
  vertical-align: middle;
}

@media (max-width: 575px) {
  #skills .section-body img {
    height: 6rem;
  }
}
