* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #292929;
  font-family: "Roboto Slab", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .wrapper {
    max-width: calc(100% - 2rem);
  }
}

.section-spacing {
  margin-bottom: 10rem;
}

@media (max-width: 767px) {
  .section-spacing {
    margin-bottom: 8rem;
  }
}

@media (max-width: 575px) {
  .section-spacing {
    margin-bottom: 6rem;
  }
}

.section-header {
  text-align: center;
}

.section-title {
  position: relative;
  display: inline-block;
  font-size: 3.2rem;
  padding-bottom: 1.6rem;
}

.section-title::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  translate: -50% 0;
  height: 0.4rem;
  width: 80%;
  background-color: #000;
}
